/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#snippet-list {
    list-style: none;
    margin-top: 10px !important;
    padding: 0;
    margin: 0;
}

#snippet-list li {
    
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.snippet-text {
    flex: 1; 
    margin-right: 4px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    max-width: calc(100% - 70px); 
}

.copy-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
padding-right: 6px;
    display: flex;
    align-items: center; 
}

.copy-icon, .delete-icon {
    width: 20px;
    height: 20px;
}